@font-face {
    font-family: FairyDust;
    src: url('fonts/FairyDustB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

h1 {
        color: black;
        font-size: 50px;
        text-align: center;
        font-family: 'FairyDust', sans-serif;
    }

    body {
        background-image: url('https://i.pinimg.com/originals/86/db/24/86db242b0197c7d03d1166090f33cb9f.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 99.999% 99.9999%;
        text-align: center;
    }

    .textarea-container {
        display: inline-block;
        text-align: center;
    }

    textarea {
        display: block;
        /* Make the textarea a block element */
        margin: 0 auto;
        /* Center-align the textarea */
    }

    #outputText {
        font-family: Rubik;
    }

